[Unit]
Description=Daily bootc update check

[Timer]
OnCalendar=*-*-* 02:37:00
AccuracySec=1s
Persistent=true
Unit=entrypoint-auto-update.service

[Install]
WantedBy=timers.target